@define-color background #1d2021;
@define-color foreground #ebdbb2;
@define-color dim        #928374;
@define-color yellow     #fabd2f;
@define-color red        #fb4934;
@define-color green      #b8bb26;

* {
	font-family: "NerdFont Mono";
	/*font-weight: bold;
	min-height: 0;	
	//set font-size to 100% if font scaling is set to 1.00 using nwg-look 
	font-size: 100%;
	font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';*/
}

window#waybar {
  background: @background;
  color: @foreground;
  transition-property: background-color;
  transition-duration: 0.5s;
}
