window {
    background-color: rgba(20,20,21,1.0);
}

#box-outer {
    background-color: #141415;
}

#box-inner {
    background-color: #141415;
    border-radius: 0px;
    border-style: solid;
    border-width: 2px;
    border-color: #f3be7c;
	color: white;
    padding: 10px;
}
